/*
@import this file directly into your existing Scss files to use these mixins
*/
@mixin sprite-Content-map-assets-smartonclimate-img-Buildings_rightcorner_0000_Layer-1() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 108px;
	background: url('smartonclimate.png') 0 0;
}
@mixin sprite-Content-map-assets-smartonclimate-img-Buildings_rightcorner_0001_Layer-2_empty() {
/* You may have to set 'display: block' */
	width: 44px;
	height: 83px;
	background: url('smartonclimate.png') 0 -108px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-Buildings_rightcorner_0001_Layer-2_solarpanel() {
/* You may have to set 'display: block' */
	width: 25px;
	height: 6px;
	background: url('smartonclimate.png') 0 -191px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-Buildings_rightcorner_0002_Layer-2_solarpanel() {
/* You may have to set 'display: block' */
	width: 40px;
	height: 14px;
	background: url('smartonclimate.png') 0 -197px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-Map_base_riverWaves() {
/* You may have to set 'display: block' */
	width: 2651px;
	height: 1759px;
	background: url('smartonclimate.png') 0 -211px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-Map_base_SmartonClimate_lakeWaves1() {
/* You may have to set 'display: block' */
	width: 200px;
	height: 127px;
	background: url('smartonclimate.png') 0 -1970px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-Map_base_SmartonClimate_lakeWaves2() {
/* You may have to set 'display: block' */
	width: 200px;
	height: 127px;
	background: url('smartonclimate.png') 0 -2097px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0000_Buildings_leftcorner() {
/* You may have to set 'display: block' */
	width: 108px;
	height: 145px;
	background: url('smartonclimate.png') 0 -2224px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0001_Mountain_structures() {
/* You may have to set 'display: block' */
	width: 78px;
	height: 26px;
	background: url('smartonclimate.png') 0 -2369px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0002_Sun() {
/* You may have to set 'display: block' */
	width: 40px;
	height: 39px;
	background: url('smartonclimate.png') 0 -2395px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0003_Cyclist1() {
/* You may have to set 'display: block' */
	width: 12px;
	height: 23px;
	background: url('smartonclimate.png') 0 -2434px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0004_Cyclist2() {
/* You may have to set 'display: block' */
	width: 14px;
	height: 25px;
	background: url('smartonclimate.png') 0 -2457px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0006_Building_fat_empty() {
/* You may have to set 'display: block' */
	width: 183px;
	height: 98px;
	background: url('smartonclimate.png') 0 -2482px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0006_Building_fat_solarpanel() {
/* You may have to set 'display: block' */
	width: 53px;
	height: 8px;
	background: url('smartonclimate.png') 0 -2580px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0007_Building_Green() {
/* You may have to set 'display: block' */
	width: 46px;
	height: 125px;
	background: url('smartonclimate.png') 0 -2588px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0008_Buildings_center() {
/* You may have to set 'display: block' */
	width: 73px;
	height: 112px;
	background: url('smartonclimate.png') 0 -2713px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0009_SolarPanel_002() {
/* You may have to set 'display: block' */
	width: 72px;
	height: 20px;
	background: url('smartonclimate.png') 0 -2825px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0010_Building_neon() {
/* You may have to set 'display: block' */
	width: 31px;
	height: 132px;
	background: url('smartonclimate.png') 0 -2845px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0013_Bluebuilding() {
/* You may have to set 'display: block' */
	width: 25px;
	height: 126px;
	background: url('smartonclimate.png') 0 -2977px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0014_Houses4() {
/* You may have to set 'display: block' */
	width: 71px;
	height: 68px;
	background: url('smartonclimate.png') 0 -3103px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0015_Houses3() {
/* You may have to set 'display: block' */
	width: 79px;
	height: 31px;
	background: url('smartonclimate.png') 0 -3171px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0016_Houses2() {
/* You may have to set 'display: block' */
	width: 49px;
	height: 29px;
	background: url('smartonclimate.png') 0 -3202px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0017_BlueCar() {
/* You may have to set 'display: block' */
	width: 17px;
	height: 12px;
	background: url('smartonclimate.png') 0 -3231px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0019_Houses1() {
/* You may have to set 'display: block' */
	width: 60px;
	height: 31px;
	background: url('smartonclimate.png') 0 -3243px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0021_Electricalwires() {
/* You may have to set 'display: block' */
	width: 690px;
	height: 210px;
	background: url('smartonclimate.png') 0 -3274px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0021_Greenbuilding() {
/* You may have to set 'display: block' */
	width: 33px;
	height: 114px;
	background: url('smartonclimate.png') 0 -3484px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__0021_Yellowbuilding() {
/* You may have to set 'display: block' */
	width: 38px;
	height: 77px;
	background: url('smartonclimate.png') 0 -3598px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__Tunnel_bottom() {
/* You may have to set 'display: block' */
	width: 189px;
	height: 67px;
	background: url('smartonclimate.png') 0 -3675px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate__Tunnel_top() {
/* You may have to set 'display: block' */
	width: 210px;
	height: 84px;
	background: url('smartonclimate.png') 0 -3742px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_TitleTag() {
/* You may have to set 'display: block' */
	width: 333px;
	height: 118px;
	background: url('smartonclimate.png') 0 -3826px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_train_0000() {
/* You may have to set 'display: block' */
	width: 91px;
	height: 47px;
	background: url('smartonclimate.png') 0 -3944px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_train_0001() {
/* You may have to set 'display: block' */
	width: 80px;
	height: 45px;
	background: url('smartonclimate.png') 0 -3991px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_train_0002() {
/* You may have to set 'display: block' */
	width: 76px;
	height: 43px;
	background: url('smartonclimate.png') 0 -4036px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_train_0003() {
/* You may have to set 'display: block' */
	width: 78px;
	height: 42px;
	background: url('smartonclimate.png') 0 -4079px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_Tree_00() {
/* You may have to set 'display: block' */
	width: 25px;
	height: 28px;
	background: url('smartonclimate.png') 0 -4121px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_Tree_01() {
/* You may have to set 'display: block' */
	width: 30px;
	height: 40px;
	background: url('smartonclimate.png') 0 -4149px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_Tree_02() {
/* You may have to set 'display: block' */
	width: 18px;
	height: 25px;
	background: url('smartonclimate.png') 0 -4189px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_Tree_03() {
/* You may have to set 'display: block' */
	width: 32px;
	height: 33px;
	background: url('smartonclimate.png') 0 -4214px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_Tree_04() {
/* You may have to set 'display: block' */
	width: 20px;
	height: 29px;
	background: url('smartonclimate.png') 0 -4247px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_Tree_05() {
/* You may have to set 'display: block' */
	width: 58px;
	height: 32px;
	background: url('smartonclimate.png') 0 -4276px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_Tree_06() {
/* You may have to set 'display: block' */
	width: 15px;
	height: 23px;
	background: url('smartonclimate.png') 0 -4308px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_Tree_07() {
/* You may have to set 'display: block' */
	width: 34px;
	height: 40px;
	background: url('smartonclimate.png') 0 -4331px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-SmartonClimate_Tree_08() {
/* You may have to set 'display: block' */
	width: 95px;
	height: 76px;
	background: url('smartonclimate.png') 0 -4371px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-WindMill__0000_3-blades() {
/* You may have to set 'display: block' */
	width: 19px;
	height: 20px;
	background: url('smartonclimate.png') 0 -4447px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-WindMill__0001_3-windmill() {
/* You may have to set 'display: block' */
	width: 9px;
	height: 34px;
	background: url('smartonclimate.png') 0 -4467px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-WindMill__0002_2-blades() {
/* You may have to set 'display: block' */
	width: 17px;
	height: 17px;
	background: url('smartonclimate.png') 0 -4501px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-WindMill__0003_2-windmill() {
/* You may have to set 'display: block' */
	width: 15px;
	height: 24px;
	background: url('smartonclimate.png') 0 -4518px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-WindMill__0004_1-Blades() {
/* You may have to set 'display: block' */
	width: 19px;
	height: 19px;
	background: url('smartonclimate.png') 0 -4542px;
}
@mixin sprite-Content-map-assets-smartonclimate-img-WindMill__0005_1-windmill() {
/* You may have to set 'display: block' */
	width: 11px;
	height: 32px;
	background: url('smartonclimate.png') 0 -4561px;
}
